.NavbarItems{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavbarItems .logo{
  justify-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 3rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: .25rem .5rem;
  font-size: 2rem;
}

.nav-link:hover{
  background-color: hsl(13, 100%, 72%);
  border-radius: 6px;
  transition: all .8s ease-out;
}

.nav-link-mobile{
  display: none;
}

.fa-bars{
  color: white;
}

.menu-icon{
  display: none;
}

.buttonSignUp{
  background: white;
  margin: 5px;
  padding: 8px 15px;
  border-radius: 4px;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
  margin-right: 2rem;
  color: hsl(3, 100%, 62%);
}

.buttonSignUp:hover{
  padding: 8px 15px;
  transition: all 0.3s ease-out;
  background: transparent;
  color: white;
  transition: 250ms;
}

@media screen and (max-width: 1023px){
  .NavbarItems{
    position: relative;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 40vh;
    position: absolute;
    top: 55px;
    right: 100%;
    opacity: 1;
    transition: all 0.8s ease;
    margin-left: 15%;
    border-radius: 1rem;
  }
  .nav-menu.active{
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: table;
  }
  .nav-link{
    color: #6568f4;
    text-align: center;
    padding: 10px;
    width: 70%;
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
    justify-content: center;
    font-size: 1.2rem;
  }
  .nav-link:hover{
    background-color: hsl(13, 100%, 72%);
    border-radius: 5px;
    transition: 250ms;
  }

  .logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    font-size: 30px;
    cursor: pointer;
  }
  .fa-times{
    color: white;
    font-size: 30px;
  }
  .nav-link-mobile{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 1.3rem auto;
    width: 50%;
    background-color: aqua;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
  }

  .nav-link-mobile:hover{
    background: white;
    color: #6568f4;
    transition: 300ms;
  }
  Button {
    display: none;
  }
}